@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Oswald', sans-serif;
}

.activeDay {
  background-color: #3b6f69;
}

main {
  background: rgb(23,43,80);
  background: linear-gradient(180deg, rgba(23,43,80,1) 0%, rgba(25,74,88,1) 50%, rgba(23,43,80,1) 100%); 
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: block;
  margin: 50px auto;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #979797;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 